<%- include("partials/header"); -%>


<div class="close"><svg style="fill:var(--color-primary);" version="1.1" viewBox="0 0 512 512" width="48" height="48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg></div>


    

    
<% let allFighters = fighters.concat(opponents).concat(prelimFighters).concat(prelimOpponents); %>
<div style="overflow-y:scroll;" class="fighter-page-slide-out panel fighter0">
    <% allFighters.forEach(function(fighter){ %>
        <% count=0 %>
    <div class="fighter-prof hidden <%= fighter.name %>" >
        <div class="event-fighter-heading">
        <img class="fighter-profile-image" src="<%=fighter.image_url %>" alt="fighter picture">
            <h3 class="nickname">"<%= fighter.nickname %>"</h3>
            <a  href="/fighter/<%= fighter.name.replace(/\s+/g, '-') %>"><h2 class="name"><%= fighter.name %></h2></a>
            <h4>(<%= fighter.wins.total %>-<%= fighter.losses.total %>)</h4>   
        </div>
        <div class="event-fighter-info">
            <p><%= fighter.locality %> | <%= fighter.nationality %></p>
            <p><span class="fighter-info-title">Age:</span> <%= fighter.age %> (Born: <%= fighter.birthday %>)</p>
            <p><span class="fighter-info-title">Height:</span> <%= fighter.height %></p>
            <p><span class="fighter-info-title">Weightclass:</span> <%= fighter.weight_class %> (<%= fighter.weight %>)</p>
        </div>
        
        <div class="event-fight-history ">
            <h2 class="fighter-history-title title-text">Fight History</h2>
            <div class="event-fight-history-row">
                <h3>Opponent</h3>
                <h3>Outcome</h3>
                <h3>Tape Index</h3>
                <h3>Date</h3>
            </div>
            <% fighter.fights.forEach(function(fight,index){ %>

          
            <% if (index < 4) { %>
                <div class="event-fight-history-row shown-fights">
            <% } else if (index >= 4) { %>
                <div class="event-fight-history-row hidden-fights hide-fights">
                    <% } %>
            <div class="event-fight-history-col">
                <a href="/fighter/<%= fight.opponent.replace(/\s+/g, '-') %>"><%= fight.opponent %></a>
            </div>
            <div class="event-fight-history-col">
                <p><span class="<%= fight.result %>"><%= fight.result %></span><% if(fight.method){ %> via <span><%= fight.method %><% } %> <% if(fight.round){ %>R<%= fight.round %>: <%= fight.time %><% } %></span> </p>
                <% if (fight.isTitleFight) { %>
                    <div class="belt-row">
                        <p class="event-fight-name"><%= fight.name %></p>
                        <img style="" class="belt-image" src="/image/<%= event.org.replace(/\s+/g, '-') %>-belt.png">
                    </div>
                <% } else{ %>
                    <p class="event-fight-name"><%= fight.name %></p>
               <% } %>                     
            </div>
            <% if (user){ %>
                <div style="display: flex;flex-direction: column;">
                    <% if (user.premium && fight.tape_url){ %>
                        <a target='_blank' href="<%=fight.tape_url%>" class="premium">Watch fight<% if (fight.tape_time){%> (<%=fight.tape_time%>)<%}%></a>
                    <% } else if (!user.premium){ %>
                        <a href="/premium" class="premium">Premium</a>
                   <% } %>
                    <% if (user.admin){ %>
                        <button id="<%=fight.name.replace(/ /g,'_') %>?<%=fighter.id%>" data-open-modal class="secondary-btn tapeindex-btn fight-admin-btn">add tape</button>
                    <% } %>
                    
                </div>
                
            <% } else{ %>
            <a href="/premium" class="premium">Premium</a>
            <% } %>
            <p><%= fight.date %></p>
        </div>
        <% if (index===fighter.fights.length - 1){ %>
            <a class="hidden-fights-show-all">(show all)</a>
            <% } %>
<% }) %>

        
    </div>
       
        
        
        
        
    </div>
<% }) %> 
<div class="slide-out-footer"></div>
</div>
<div class="event-page-section">
    <div class="event-page-containerr ">
        <div class="event-maincard-row">
            <div class="event-maincard-col">
                <div class="title-text-row">
                    <div class="rect"></div>
                    <h1 class="title-text eventName"><%=event.name.split("-")[0]%></h1>
                    <div class="rect"></div>
                </div>   
        <div class="event-info-row">
            <img src="<%=event.posterURL %>" alt="UFC 291 poster" class="poster">
            <a id="<%= event.id %>" class="button-1" href="/predict/<%= event.id %>">Make predictions</a>
            <div class="info-container">
                
                <p>location: <%= event.location %></p></p>
                <p>Promotion: <%= event.org %></p>
                <p>Date: <%= event.date.toDateString().split(" ").slice(0,4).join(" ")  %></p>
            </div>
        </div>
        <!-- <div class="best-bets-container ">
            <h2 class="titles-text">Best Bets:</h2>
            <h3>Community Voted:</h3>

            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>
            <h3>Editor Chosen:</h3>
     
            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>   
        <div>

            
            
        </div> -->
        <!-- </div> -->
        </div>


        <div class="event-maincard-col">
            <div class="title-text-row pt-5">
                <div class="rect"></div>
                <h2 class="title-text mainCard">Main Card</h2>
                <div class="rect"></div>
            </div>    
            
            <div class="mainCard-container">
<!--Main card fight s generated here--> 
            
<% if (user && user.admin){ %>
    <dialog data-modal class="outcome-modal">
        <div class="outcome-cont-col">
            <label for="outcome">winner/outcome:</label>
            <select id="outcome" name="outcome">
                <option value="fighterName">fighterName</option>
                <option value="opponentName">opponentName</option>
                <option value="draw">draw</option>
                <option value="no contest">no contest</option>
                <option value="cancel">cancel</option>
              </select>
            <label for="method">method:</label>
            <input class="method" type="text">
            <div class="outcome-cont-row">
                <div class="outcome-cont-col">
                    <label for="round">round:</label>
                    <input class="round" type="text">
                </div>
                <div class="outcome-cont-col">
                    <label for="round">time:</label>
                <input class="time" type="text">
                </div>
            </div>
            <button class="submit-fight-outcome secondary-btn">Submit</button>
            <button data-close-modal class="secondary-btn">Close</button>
        </div>

    </dialog>
    <dialog predictions-modal class="predictions-modal">
        <div class="outcome-cont-col">
            <h3>are you sure you want to close predictions for this fight?</h3>
            <button class="submit-close-predictions secondary-btn">Submit</button>
            <button predictions-close-modal class="secondary-btn">Close</button>
        </div>

    </dialog>
    <dialog tapeindex-modal class="tapeindex-modal">
        <div class="outcome-cont-col">
            <div class="outcome-cont-col">
                <label for="tape-link">Enter Link:</label>
                <input class="tape-link" type="text">
                <button class="profile-btn-small add-timing-btn">add timing</button>
            </div>
            <button class="submit-tapeindex secondary-btn">Submit</button>
            <button tapeindex-close-modal class="secondary-btn">Close</button>
        </div>

    </dialog>
<% } %>
            <% event.mainCard.forEach(function(fight,i){ %>
                <% if (mainResults[i].result.includes(opponents[i].name)){ %>
                    <% let temp = opponents[i]; opponents[i]=fighters[i];fighters[i]=temp %>
                <% } %>
                <div id="<%= fight.fightID %>"  class="fight-listing main-card-0">
                    <div class="weightClass">
                        <p class="weightClass-text"><%= fight.weightClass %> Bout</p>
                        <% if (user && user.admin){ %>
                            <button id="<%=fight.fightID%>-outcome" name="<%=fighters[i].name%>?<%=opponents[i].name%>" data-open-modal class="secondary-btn outcome-btn fight-admin-btn">set outcome</button>
                            <button id="<%=fight.fightID%>-close" predictions-open-modal class="secondary-btn fight-admin-btn predictions-close-btn">close predictions</button>
                        <% } %>
    
                    </div>

                    <div class="fight-listing-row">
                       <% if(mainResults[i].result==="draw"||mainResults[i].result==="no contest"){ %>
                            <div class="fight-listing-fighter fight-no-contest">
                        <% } else if(mainResults[i].result!="-"){ %>
                            <div class="fight-listing-fighter fight-win">
                        <% } else{ %>
                            <div class="fight-listing-fighter">
                        <% } %>
                        
                                    <a class="hide-text fighter-name"><%= fighters[i].name %> <img class="fighter-img" src="<%=fighters[i].image_url %>" height="150px" alt="fighter 1 picture"></a>
                            <a class="fighter-name"><%= fighters[i].name %></a>
                            
                                    <p class="fighter-info">Record: <span><%= fighters[i].wins.total %>-<%= fighters[i].losses.total %></span></p>
                                    <p class="fighter-info">Height: <%= fighters[i].height %></p>
                                    <p class="fighter-info">Weight: <%= fighters[i].weight %></p>
                                    <% if(mainResults[i].result==="draw"||mainResults[i].result==="no contest"){ %>
                                        <p class="fw-500 fight-no-contest"><%=mainResults[i].result%> <span class="fight-method">- <%=mainResults[i].method%></span></p>
                                    <% } else if(mainResults[i].result!="-"){ %>
                                        <p class="fw-500 fight-win">win <span class="fight-method">- <%=mainResults[i].method%></span></p>
                                    <% } %>
                            
                        </div>
                        <% if (fight.isTitleFight){ %>
                            <div class="belt-container">
                                <img class="belt-image" src="/image/<%= event.org.replace(/\s+/g, '-') %>-belt.png" %>.png alt="">
                                <div class="event-predict-container">
                                    <p class="vs">VS.</p>
                                </div>
                            </div>
                        <% } else{ %>
                            
                                <div class="event-predict-container">
                                    <p class="vs">VS.</p>
                            </div>
                        <% } %>
                        <% if(mainResults[i].result==="draw"||mainResults[i].result==="no contest"){ %>
                            <div class="fight-listing-fighter fight-no-contest">
                        <% } else if(mainResults[i].result!="-"){ %>
                            <div class="fight-listing-fighter fight-loss">
                        <% } else{ %>
                            <div class="fight-listing-fighter">
                        <% } %>

                            <a class="hide-text fighter-name"><%= opponents[i].name %> <img class="fighter-img" src="<%=opponents[i].image_url %>" %> height="150px" alt="fighter 1 picture"></a>
                            <a class="fighter-name"><%= opponents[i].name %></a>
                                <p class="fighter-info">Record: <span><%= opponents[i].wins.total %>-<%= opponents[i].losses.total %></span></p>
                                <p class="fighter-info">Height: <%= opponents[i].height %></p>
                                <p class="fighter-info">Weight: <%= opponents[i].weight %></p>
                                <% if(mainResults[i].result==="draw"||mainResults[i].result==="no contest"){ %>
                                    <p class="fw-500 fight-no-contest"><%=mainResults[i].result%> <span class="fight-method">- <%=mainResults[i].method%></span></p>
                                <% } else if(mainResults[i].result!="-"){ %>
                                    <p class="fw-500 fight-loss">loss</p>
                                <% } %>
                        </div>
                    </div>
                    
                </div>
               
           <% }) %>
            
        </div>
    </div>
    </div>
    </div>
    <div class="secondary-page-container ">
        <div class="title-text-row">
            <div class="rect"></div>
            <h2 class="title-text prelims-title">Prelims</h2>
            <div class="rect"></div>
        </div>    

        <div class="prelims-container">

            <% event.prelims.forEach(function(fight,i){ %>
                <% if (prelimResults[i].result.includes(prelimOpponents[i].name)){ %>
                    <% let temp = prelimOpponents[i]; prelimOpponents[i]=prelimFighters[i];prelimFighters[i]=temp %>
                <% } %>
                <div id="<%= fight.fightID %>" class=" fight-listing main-card-0">
                    <div class="weightClass">
                        <p class="weightClass-text"><%= fight.weightClass %> Bout</p>
                        <% if (user && user.admin){ %>
                            <button id="<%=fight.fightID%>-outcome" name="<%=prelimFighters[i].name%>-<%=prelimOpponents[i].name%>" data-open-modal class="secondary-btn fight-admin-btn outcome-btn">set outcome</button>
                            <button id="<%=fight.fightID%>-close" predictions-open-modal class="secondary-btn fight-admin-btn predictions-close-btn">close predictions</button>
                        <% } %>
                    </div>
                    
                    <div class="fight-listing-row">
                        <% if(prelimResults[i].result==="draw"||prelimResults[i].result==="no contest"){ %>
                            <div class="fight-listing-fighter fight-no-contest">
                        <% } else if(prelimResults[i].result!="-"){ %>
                            <div class="fight-listing-fighter fight-win">
                        <% } else{ %>
                            <div class="fight-listing-fighter">
                        <% } %>
                                    <a class="hide-text fighter-name"><%= prelimFighters[i].name %> <img class="fighter-img" src="<%=prelimFighters[i].image_url %>" %> height="150px" alt="fighter 1 picture"></a>
                            <a class="fighter-name"><%= prelimFighters[i].name %></a>
                            
                                    <p class="fighter-info">Record: <span><%= prelimFighters[i].wins.total %>-<%= prelimFighters[i].losses.total %></span></p>
                                    <p class="fighter-info">Height: <%= prelimFighters[i].height %></p>
                                    <p class="fighter-info">Weight: <%= prelimFighters[i].weight %></p>
                                    <% if(prelimResults[i].result==="draw"||prelimResults[i].result==="no contest"){ %>
                                        <p class="fw-500 fight-no-contest"><%=prelimResults[i].result%> <span class="fight-method">- <%=prelimResults[i].method%></span></p>
                                    <% } else if(prelimResults[i].result!="-"){ %>
                                        <p class="fw-500 fight-win">win <span class="fight-method">- <%=prelimResults[i].method%></span></p>
                                    <% } %>
                        </div>
                        <div class="event-predict-container">
                            <p class="vs">VS.</p>
                    </div>
                    <% if(prelimResults[i].result==="draw"||prelimResults[i].result==="no contest"){ %>
                        <div class="fight-listing-fighter fight-no-contest">
                    <% } else if(prelimResults[i].result!="-"){ %>
                        <div class="fight-listing-fighter fight-loss">
                    <% } else{ %>
                        <div class="fight-listing-fighter">
                    <% } %>
                                    <a class="hide-text fighter-name"><%= prelimOpponents[i].name %> <img class="fighter-img" src="<%=prelimOpponents[i].image_url %>" height="150px" alt="fighter 1 picture"></a>
                            <a class="fighter-name"><%= prelimOpponents[i].name %></a>
                                <p class="fighter-info">Record: <span><%= prelimOpponents[i].wins.total %>-<%= prelimOpponents[i].losses.total %></span></p>
                                <p class="fighter-info">Height: <%= prelimOpponents[i].height %></p>
                                <p class="fighter-info">Weight: <%= prelimOpponents[i].weight %></p>
                                <% if(prelimResults[i].result==="draw"||prelimResults[i].result==="no contest"){ %>
                                    <p class="fw-500 fight-no-contest"><%=prelimResults[i].result%> <span class="fight-method">- <%=prelimResults[i].method%></span></p>
                                <% } else if(prelimResults[i].result!="-"){ %>
                                    <p class="fw-500 fight-loss">loss</p>
                                <% } %>
                        </div>
                    </div>
                </div>
               
           <% }) %>
            
            
            
            
            
            



        </div>




    </div>

    <div class="event-comments-container ">

        <h2 class="title-text">Comments</h2>
        <form action="/event" method="post">
            <div class="compose-comment fight-comment-box">
                <% if(user){ %>
                    <textarea class="input input<%= event.id %> form-control" name="comment" cols="30" rows="5" placeholder="Leave a comment on the event"></textarea>
                    <button  class="comment-btn <%= event.id %>" type="submit">comment</button>
                    <% } else{ %>
                        <textarea disabled class="input input<%= event.id %> form-control" name="comment" cols="30" rows="5" placeholder="Sign in to leave a comment"></textarea>
                    <% } %>
            </div>
            </form>
        <% event.comments.reverse().forEach(function(comment,i){ %>
            
            <% if(user){ %>
                <div class="comment-row">
                    <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                <div class="comment-col fight-comment">
                    <div class="comment-col">
                        <div class="comment-row">      
                            <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                            <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                        </div>
                        <p class="comment-content fight-comment-content"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %><a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">... Read more</a> <a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                    </div>
                    <div class="comment-row">
                        <% if (comment.usersLiked===undefined || !comment.usersLiked.includes(user.username) ){ %>
                        <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                        <% } else{ %>
                        <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>" class="like-btn" src="/image/thumbs-up-blue.svg" height="20px" alt="">
                        <% } %>
                        <p class="comment-likes">  <%= comment.likes %> </p>
                        <% if (comment.usersDisliked===undefined || !comment.usersDisliked.includes(user.username)){ %>
                        <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                        <% } else{ %>
                        <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-blue.svg" height="20px" alt="">
                        <% } %>
                        <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                    </div>
                </div>
            </div>
            <% } else{ %>
                <div class="comment-row">
                    <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                <div class="comment-col fight-comment">
                    <div class="comment-col">
                        <div class="comment-row">      
                            <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                            <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                        </div>
                        <p class="comment-content fight-comment-content"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %> <a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">... Read more</a> <a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                    </div>
                    <div class="comment-row">
                        <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                        <p class="comment-likes">  <%= comment.likes %> </p>
                        <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                        <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                    </div>
                </div>
            </div>
            <% } %>
            

        <% }) %>
    </div>
</div>
    <% if(user){ %>
        <script>
         var username = "<%= user.username %>";
         var eventID="<%= event.id %>";
         var userID="<%= user.id %>";
         </script>   
     <% } else{ %>
         <script>
             var eventID="<%= event.id %>";
             </script>   
     <% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/eventComment.js"></script>
<script type="text/javascript" src="/javascript/slide.js"></script>
<script type="text/javascript" src="/javascript/commentExpand.js"></script>
<% if (user){ %>
<script type="text/javascript" src="/javascript/outcome.js"></script>
<% } %>
    <%- include("partials/footer"); -%>
