<%- include("partials/header"); -%>
<div class="close"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0,0,256,256"
    style="fill:#000000;">
    <g fill="#001c48" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path transform="translate(24.00059,-9.94113) rotate(45.001)" d="M21.5,4.5h5.001v39h-5.001z"></path><path transform="translate(57.94113,24.00474) rotate(135.008)" d="M21.5,4.5h5v39.001h-5z"></path></g></g>
    </svg></div>


    

    

<div style="overflow-y:scroll;" class="fighter-page-slide-out panel fighter0">
    <% Fighters.forEach(function(fighter){ %>
        <% count=0 %>
    <div class="fighter-prof hidden <%= fighter.name %>" >
        <div class="event-fighter-heading">
        <img class="fighter-profile-image" src="<%=fighter.image_url %>" alt="fighter picture">
            <h3 class="nickname">"<%= fighter.nickname %>"</h3>
            <a  href="/fighter/<%= fighter.name %>"><h2 class="name"><%= fighter.name %></h2></a>
            <h4>(<%= fighter.wins.total %>-<%= fighter.losses.total %>)</h4>   
        </div>
        <div class="event-fighter-info">
            <p><%= fighter.locality %> | <%= fighter.nationality %></p>
            <p>Age: <%= fighter.age %> (Born: <%= fighter.birthday %>)</p>
            <p>Height: <%= fighter.height %></p>
            <p>Weight Class: <%= fighter.weight_class %> (<%= fighter.weight %>)</p>
        </div>
        
        <div class="event-fight-history panel">
            <h2 class="fighter-history-title title-text">Fight History</h2>
            <div class="event-fight-history-row">
                <h3>Opponent</h3>
                <h3>Outcome</h3>
                <h3>Tape Index</h3>
                <h3>Date</h3>
            </div>
            <% fighter.fights.forEach(function(fight){ %>

        <% if (count<5){ %>            
        <div class="panel event-fight-history-row shown-fights">
            <div class="event-fight-history-col">
                <a href="/fighter/<%= fight.opponent %>"><%= fight.opponent %></a>
            </div>
            <div class="event-fight-history-col">
                <p><span class="<%= fight.result %>"><%= fight.result %></span> via <span><%= fight.method %> R<%= fight.round %>: <%= fight.time %></span></p>
                <% if (fight.isTitleFight) { %>
                    <div class="belt-row">
                        <p class="event-fight-name"><%= fight.name %></p>
                        <img class="belt-image" src="/image/<%= event.org %>-belt.png">
                    </div>
                <% } else{ %>
                    <p class="event-fight-name"><%= fight.name %></p>
               <% } %>                     
            </div>
            <a class="premium">Premium</a>
            <p><%= fight.date %></p>
        </div>
        <% count++ %>
        <%  } %>
        
        <% if (count>3){ %>            
            <div class="panel event-fight-history-row hidden-fights hide-fights">
                <div class="event-fight-history-col">
                    <a href="/fighter/<%= fight.opponent %>"><%= fight.opponent %></a>
                </div>
                <div class="event-fight-history-col">
                    <p><span class="<%= fight.result %>"><%= fight.result %></span> via <span><%= fight.method %> R<%= fight.round %>: <%= fight.time %></span></p>
                    <p class="event-fight-name"><%= fight.name %></p>
                    <% if (fight.isTitleFight) { %>
                        <img class="belt-image" src="/image/<%= event.org %>-belt.png">
                    <% } %>              
                </div>
                <a class="premium">Premium</a>
                <p><%= fight.date %></p>
            </div>
            <% count++ %>
            <% if (count===fighter.fights.length){ %>
                <a class="hidden-fights-show-all">show all...</a>
            <% } %>
        <% } %>
        <% }) %>
    </div>
       
        
        
        
        
    </div>
<% }) %> 
<div class="slide-out-footer"></div>
</div>

    <div class="event-page-containerr">
        <h1 class="title-text eventName">UFC 291</h1>
        <h2 class="title-text mainCard">Main Card</h2>
        <div class="event-info-row">
        <img src="<%=event.posterURL %>" alt="UFC 291 poster" class="poster">
        <div class="info-container">
            <p>location: <%= event.location %></p></p>
            <p>Promotion: <%= event.org %></p>
            <p>Date: <%= event.date %></p>
        </div>
        </div>
        <div class="best-bets-container panel">
            <h2 class="titles-text">Best Bets:</h2>
            <h3>Community Voted:</h3>
<!--community voted Best bets generated here--> 
            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>
            <h3>Editor Chosen:</h3>
<!--Best bets chosen by the website admins generated here-->
            <div class="best-bets-row best-bet-rank">
                <div class="circle">1</div>
                <div class="best-best-col">
                    <div class="best-bets-row">
                        <h4 class="best-bets-info">Bet Name</h4>
                        <p class="best-bets-odds">-400</p>
                    </div>
                    
                    <div class="best-bets-row votes">
                        <img src="/image/gold-fist.svg" height="25px" alt="gold fist icon">
                        <p class="best-bets-votes best-votes">0</p>
                        <img src="/image/thumbs-up-blue.svg" height="25px" alt="thumbs up icon">
                        <p class="best-bets-votes">0</p>
                        <img src="/image/thumbs-down-grey.svg" height="25px" alt="thumbs down icon">
                        <p class="best-bets-votes">0</p>
                    </div>
                </div>
            </div>   
        <div>
            
        </div>
        </div>
        <div class="mainCard-container">
<!--Main card fight panels generated here--> 
            

            <% event.mainCard.forEach(function(fight){ %>
                <div class="panel fight-listing main-card-0">
                    <div class="weightClass">
                        <p><%= fight.weightClass %> Bout</p>
                    </div>
                    <div class="fight-listing-row">
                        <div class="fight-listing-fighter">
                            <% Fighters.forEach(function(fighter){ %>
                                <% if (fighter.name == Object.values(fight)[0]){ %>
                                    <a class="hide-text fighter-name"><%= Object.values(fight)[0] %> <img class="fighter-img" src="<%=fighter.image_url %>" height="150px" alt="fighter 1 picture"></a>
                            <% }}) %>
                            <a class="fighter-name"><%= Object.values(fight)[0] %></a>
                            
                            <% Fighters.forEach(function(fighter){ %>
                               <% if (fighter.name == Object.values(fight)[0]){ %>
                                    <p class="fighter-info">Record: <span><%= fighter.wins.total %>-<%= fighter.losses.total %></span></p>
                                    <p class="fighter-info">Style: Boxer</p>
                                    <p class="fighter-info">Height: <%= fighter.height %></p>
                                    <p class="fighter-info">Weight: <%= fighter.weight %></p>
                               <% }}) %>
                            
                        </div>
                        <% if (fight.isTitleFight){ %>
                            <div class="belt-container">
                                <img class="belt-image" src="/image/<%= event.org %>-belt.png" %>.png alt="">
                                <p class="vs">VS.</p>
                            </div>
                        <% } else{ %>
                            <p class="vs">VS.</p>
                        <% } %>
                        
                        <div class="fight-listing-fighter">
                            <% Fighters.forEach(function(fighter){ %>
                                <% if (fighter.name == Object.values(fight)[1]){ %>
                            <a class="hide-text fighter-name"><%= Object.values(fight)[1] %> <img class="fighter-img" src="<%=fighter.image_url %>" %> height="150px" alt="fighter 1 picture"></a>
                            <% }}) %>
                            <a class="fighter-name"><%= Object.values(fight)[1] %></a>
                        <% Fighters.forEach(function(fighter){ %>
                            <% if(Object.values(fight)[1]==fighter.name) { %>
                                <p class="fighter-info">Record: <span><%= fighter.wins.total %>-<%= fighter.losses.total %></span></p>
                                <p class="fighter-info">Style: Boxer</p>
                                <p class="fighter-info">Height: <%= fighter.height %></p>
                                <p class="fighter-info">Weight: <%= fighter.weight %></p>
                           <% }}) %>
                        </div>
                    </div>
                    
                </div>
               
           <% }) %>
            
        </div>

    </div>

    <div class="secondary-page-container">
        <h2 class="title-text prelims-title">Prelims</h2>
        <div class="prelims-container">
            <% event.prelims.forEach(function(fight){ %>
                <div class="panel fight-listing main-card-0">
                    <div class="weightClass">
                        <p><%= fight.weightClass %> Bout</p>
                    </div>
                    <div class="fight-listing-row">
                        <div class="fight-listing-fighter">
                            <% Fighters.forEach(function(fighter){ %>
                                <% if (fighter.name == Object.values(fight)[0]){ %>
                                    <a class="hide-text fighter-name"><%= Object.values(fight)[0] %> <img class="fighter-img" src="<%=fighter.image_url %>" %> height="150px" alt="fighter 1 picture"></a>
                            <% }}) %>
                            <a class="fighter-name"><%= Object.values(fight)[0] %></a>
                            
                            <% Fighters.forEach(function(fighter){ %>
                               <% if (fighter.name == Object.values(fight)[0]){ %>
                                    <p class="fighter-info">Record: <span><%= fighter.wins.total %>-<%= fighter.losses.total %></span></p>
                                    <p class="fighter-info">Style: Boxer</p>
                                    <p class="fighter-info">Height: <%= fighter.height %></p>
                                    <p class="fighter-info">Weight: <%= fighter.weight %></p>
                               <% }}) %>
                            
                        </div>
                        <p class="vs">VS.</p>
                        <div class="fight-listing-fighter">
                            <% Fighters.forEach(function(fighter){ %>
                                <% if (fighter.name == Object.values(fight)[1]){ %>
                                    <a class="hide-text fighter-name"><%= Object.values(fight)[1] %> <img class="fighter-img" src="<%=fighter.image_url %>" height="150px" alt="fighter 1 picture"></a>
                            <% }}) %>
                            <a class="fighter-name" href="./event.html"><%= Object.values(fight)[1] %></a>
                        <% Fighters.forEach(function(fighter){ %>
                            <% if(Object.values(fight)[1]==fighter.name) { %>
                                <p class="fighter-info">Record: <span><%= fighter.wins.total %>-<%= fighter.losses.total %></span></p>
                                <p class="fighter-info">Style: Boxer</p>
                                <p class="fighter-info">Height: <%= fighter.height %></p>
                                <p class="fighter-info">Weight: <%= fighter.weight %></p>
                           <% }}) %>
                        </div>
                    </div>
                </div>
               
           <% }) %>
            
            
            
            
            
            
            



        </div>




    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/slide.js"></script>
    <%- include("partials/footer"); -%>
