<%- include("partials/header"); -%>

    







<div class="events-page-container">
    
    <h1 class="title-text events-title">Upcoming Events: </h1>
    <h3 class="events-title">UFC</h3>            
         <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                <% newEvents.reverse().forEach(function(event){ %>                                   
                   <% if(event.org == "UFC"){ %>
                    <div class="swiper-slide">
                        <div class="events-card">
                        <a href=<%= "/event/"+ event._id %>><img class="events-Photo" src=<%="/data/uploads/"+ event.picture %> alt="event picture"></a>
                        <p><%= event.name %></p>
                        <p><%= event.date %></p>
                        <p><%= event.location %></p>
                        </div>
                    </div>
                   <% } %>
               <% }) %>
            </div>
            <div class="swiper-button-prev swiper-button-prev1 swipe"></div>
            <div class="swiper-button-next swiper-button-next1 swipe"></div>
         </div>       
        
         <h3 class="events-title">LFA</h3>            
         <div class="swiper-container swiper2">
            <div class="swiper-wrapper">
                <% newEvents.reverse().forEach(function(event){ %>                                   
                   <% if(event.org != "UFC" && event.org != "PFL"){ %>
                    <div class="swiper-slide">
                        <div class="events-card">
                        <a href=<%= "/event/"+ event._id %>><img class="events-Photo" src=<%="/data/uploads/"+ event.picture %> alt="event picture"></a>
                        <p><%= event.name %></p>
                        <p><%= event.location %></p>
                    </div>
                    </div>
                   <% } %>
               <% }) %>
            </div>
            <div class="swiper-button-prev swiper-button-prev2 swipe"></div>
            <div class="swiper-button-next swiper-button-next2 swipe"></div>
         </div>
         
         <h3 class="events-title">PFL</h3>  
         <div class="swiper-container swiper3">
          <div class="swiper-wrapper">
              <% newEvents.reverse().forEach(function(event){ %>                                   
                 <% if(event.org == "PFL"){ %>
                  <div class="swiper-slide">
                      <div class="events-card">
                      <a href=<%= "/event/"+ event._id %>><img class="events-Photo" src=<%="/data/uploads/"+ event.picture %> alt="event picture"></a>
                      <p><%= event.name %></p>
                      <p><%= event.location %></p>
                  </div>
                  </div>
                 <% } %>
             <% }) %>
          </div>
          <div class="swiper-button-prev swiper-button-prev3 swipe"></div>
          <div class="swiper-button-next swiper-button-next3 swipe"></div>
       </div>
           

   
    
    
</div>
        

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper1 = new Swiper('.swiper1', {
  // Optional parameters
  centeredSlides:false,
  loop: true,
  breakpoints:{
    1000:{
      slidesPerView:4,
      slidesPerGroup:4,
      spaceBetween:5
    },

    700:{
      slidesPerView:3,
      slidesPerGroup:3,
      spaceBetween:4
    },

    500:{
      slidesPerView: 2,
      slidesPerGroup:2,
      spaceBetween:2
    },
    100:{
      slidesPerView: 1,
      slidesPerGroup:1,
      spaceBetween:1
    }
  },


  navigation: {
    nextEl: '.swiper-button-next1',
    prevEl: '.swiper-button-prev1',
  },

});

const swiper2 = new Swiper('.swiper2', {
  // Optional parameters
  slidesPerView:4,
  slidesPerGroup:4,
  spaceBetween:5,
  centeredSlides:false,
  loop: true,
  breakpoints:{
    1000:{
      slidesPerView:4,
      slidesPerGroup:4,
      spaceBetween:5
    },

    700:{
      slidesPerView:3,
      slidesPerGroup:3,
      spaceBetween:4
    },

    500:{
      slidesPerView: 2,
      slidesPerGroup:2,
      spaceBetween:2
    },
    100:{
      slidesPerView: 1,
      slidesPerGroup:1,
      spaceBetween:1
    }
  },


  navigation: {
    nextEl: '.swiper-button-next2',
    prevEl: '.swiper-button-prev2',
  },

});

const swiper3 = new Swiper('.swiper3', {
  // Optional parameters
  slidesPerView:4,
  slidesPerGroup:4,
  spaceBetween:5,
  centeredSlides:false,
  loop: true,
  breakpoints:{
    1000:{
      slidesPerView:4,
      slidesPerGroup:4,
      spaceBetween:5
    },

    700:{
      slidesPerView:3,
      slidesPerGroup:3,
      spaceBetween:4
    },

    500:{
      slidesPerView: 2,
      slidesPerGroup:2,
      spaceBetween:2
    },
    100:{
      slidesPerView: 1,
      slidesPerGroup:1,
      spaceBetween:1
    }
  },


  navigation: {
    nextEl: '.swiper-button-next3',
    prevEl: '.swiper-button-prev3',
  },

});
</script>
<%- include("partials/footer"); -%>