<%- include("partials/header"); -%>
<div class="fighter-page-container">
    <h1 class="title-text">Fighter Info: </h1>
    <div class="fighter-page-row">
        <div class="fighter-page-intro">
            <div class="fighter-page-heading">
                <img class="fighter-profile-image" src="<%=fighter.image_url %>" alt="fighter picture">
                    <h3 class="nickname">"<%= fighter.nickname %>"</h3>
                    <a  href="/fighter/<%= fighter.name.replace(/\s+/g, '-') %>"><h2><%= fighter.name %></h2></a>
                    <h4>(<%= fighter.wins.total %>-<%= fighter.losses.total %>)</h4>   
                </div>
                <div class="fighter-page-info">
                    <p><%= fighter.locality %> | <%= fighter.nationality %></p>
                    <p><span class="fighter-info-title">Age:</span> <%= fighter.age %> (Born: <%= fighter.birthday %>)</p>
                    <p><span class="fighter-info-title">Height:</span> <%= fighter.height %></p>
                    <p><span class="fighter-info-title">Weightclass:</span> <%= fighter.weight_class %> (<%= fighter.weight %>)</p>
                </div>
        </div>
    </div>
    <div class="event-fight-history">
            <h2 class="fighter-history-title title-text">Fight History</h2>
            <div class="event-fight-history-row">
                <h3>Opponent</h3>
                <h3>Outcome</h3>
                <h3>Tape Index</h3>
                <h3>Date</h3>
            </div>
            <% fighter.fights.forEach(function(fight){ %>
       
        <div class="event-fight-history-row shown-fights">
            <div class="event-fight-history-col">
                <a href="/fighter/<%= fight.opponent.replace(/\s+/g, '-') %>"><%= fight.opponent %></a>
            </div>
            <div class="event-fight-history-col">
                <p><span class="<%= fight.result %>"><%= fight.result %></span><% if(fight.method){ %> via <span><%= fight.method %><% } %> <% if(fight.round){ %>R<%= fight.round %>: <%= fight.time %><% } %></span> </p>
                <% if (fight.isTitleFight) { %>
                    <div class="belt-row">
                        <p class="event-fight-name"><%= fight.name %></p>
                        <img class="belt-image" src="/image/ufc-belt.png">
                    </div>
                <% } else{ %>
                    <p class="event-fight-name"><%= fight.name %></p>
               <% } %>               
            </div>
            <a class="premium">Premium</a>
            <p><%= fight.date %></p>
        </div>
        <%  }) %>

            <div class="fight-comments-container fighter-comments-container">
                <h2 class="title-text">Comments:</h2>
                <form action="/predict" method="post">
                    <div class="compose-comment fight-comment-box">
                        <% if(user){ %>
                        <textarea class="input input<%= fighter.id %> form-control" name="comment" cols="30" rows="5" placeholder="Leave a comment on the fight"></textarea>
                        <button  class="comment-btn <%= fighter.id %>" type="submit">comment</button>
                        <% } else{ %>
                            <textarea disabled class="input input<%= fighter.id %> form-control" name="comment" cols="30" rows="5" placeholder="Sign in to leave a comment"></textarea>
                        <% } %>
                    </div>
                    </form>
                <% fighter.comments.reverse().forEach(function(comment,i){ %>
                    
                    <% if(user){ %>
                        <div class="comment-row">
                            <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                        <div class="comment-col fight-comment">
                            <div class="comment-col">
                                <div class="comment-row">      
                                    <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                                    <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                                </div>
                                <p class="comment-content fight-comment-content"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %>... <a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">Read more</a><a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                            </div>
                            <div class="comment-row">
                                <% if (comment.usersLiked===undefined || !comment.usersLiked.includes(user.username) ){ %>
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                                <% } else{ %>
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>" class="like-btn" src="/image/thumbs-up-blue.svg" height="20px" alt="">
                                <% } %>
                                <p class="comment-likes">  <%= comment.likes %> </p>
                                <% if (comment.usersDisliked===undefined || !comment.usersDisliked.includes(user.username)){ %>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                                <% } else{ %>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-blue.svg" height="20px" alt="">
                                <% } %>
                                <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                            </div>
                        </div>
                    </div>
                    <% } else{ %>
                        <div class="comment-row">
                        <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                        <div class="comment-col fight-comment">
                            
                            <div class="comment-col">
                                <div class="comment-row">      
                                    <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                                    <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                                </div>
                                <p class="comment-content fight-comment-content"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %>... <a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">Read more</a><a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                            </div>
                            <div class="comment-row">
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                                <p class="comment-likes">  <%= comment.likes %> </p>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                                <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                            </div>
                        </div>
                    </div>    
                    <% } %>
                    
    
                <% }) %>
            </div>


    </div>



</div>
<% if(user){ %>
    <script>
     var username = "<%= user.username %>";
     </script>
<% } %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/fighterComment.js"></script>
<script type="text/javascript" src="/javascript/commentExpand.js"></script>
<%- include("partials/footer"); -%>