<%- include("partials/header"); -%>
<div class="close"><svg style="fill:var(--color-primary);" version="1.1" viewBox="0 0 512 512" width="48" height="48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg></div>
<div class="fighter-page-slide-out panel">
    <div class="tape-index-slide-container">
        <div class="title-text-row tape-index-title slide-out-title">
            <!-- <div class="rect"></div>
            <h3 class="title-text events-title">Tape Index: fighter vs opponent</h3>
            <div class="rect"></div> -->
        </div>
            <!-- <img style="max-width: 150px;" class="belt-image" src="/image/ufc-belt.png" alt="ufc belt"> -->
        <div class="tape-index-row">
            <div class="fight-index-fighter-col slide-out-fighter">
                <!-- <div class="fight-index-fighter-info-col">
                    <div class="tape-index-fighter-img-container">
                        <img class="tape-index-fighter-img-lg" src=<%="/data/uploads/"+ events[0].picture %> alt="event picture">
                        <div class="background-gradient"></div>
                        <div class="tape-index-fighter-title">
                            <h3>Fighter name</h3>
                            <p>(w-L)</p>
                        </div>                
                    </div>
                    <div class="tape-index-fighter-info">
                        <p>age</p>
                        <p>height</p>
                        <p>weight</p>
                        <p>wins via: #KO - #SUB - #DEC</p>
                        <p>losses via: #KO - #SUB - #DEC</p>
                    </div>                
                </div>
                <h3>Fight Links:</h3>
                <div class="tape-index-fights">
                    <div class="tape-index-fight-row">
                        <div class="tape-index-fight-outcome fight-win">
                            <h3>Win</h3>
                        </div>
                        <div class="tape-index-fight-info">
                            <h3>vs. Opponent Nadfgedrfgdfgme <span>(W-L)</span></h3>
                            <p>opponent reach/height</p>
                            <p>outcome</p>
                        </div>
                    </div>                      
                </div> -->



            </div>


            <h3>VS.</h3>
            <div class="fight-index-fighter-col slide-out-opponent">
                <!-- <div class="fight-index-fighter-info-col">
                    <div class="tape-index-fighter-img-container">
                        <img class="tape-index-fighter-img-lg" src=<%="/data/uploads/"+ events[0].picture %> alt="event picture">
                        <div class="background-gradient"></div>
                        <div class="tape-index-fighter-title">
                            <h3>Fighter name</h3>
                            <p>(w-L)</p>
                        </div>                
                    </div>
                    <div class="tape-index-fighter-info">
                        <p>age</p>
                        <p>height</p>
                        <p>weight</p>
                        <p>wins via: #KO - #SUB - #DEC</p>
                        <p>losses via: #KO - #SUB - #DEC</p>
                    </div>                
                </div>
                <h3 style="visibility: hidden;">Fight Links:</h3>
                <div class="tape-index-fights">
                    <div class="tape-index-fight-row">
                        <div class="tape-index-fight-outcome fight-win">
                            <h3>Win</h3>
                        </div>
                        <div class="tape-index-fight-info">
                            <h3>vs. Opponent Nadfgedrfgdfgme <span>(W-L)</span></h3>
                            <p>opponent reach/height</p>
                            <p>outcome</p>
                        </div>
                    </div>                      
                </div> -->
            </div>
        </div>
    </div>
    
</div>

<div class="tape-index-page-container">

    <div class="title-text-row tape-index-title">
        <div class="rect"></div>
        <h1 class="title-text events-title">Tape Index</h1>
        <div class="rect"></div>
    </div>   

        <h2 class="title-text index-title">Upcoming Events</h2>
        <div class="upcoming-events-container">
           <% events.forEach(function(event){ %>
                <a id="<%= event.id %>" class="tape-index-event-col" onclick="showEvent(this.id)">
                    <img class="tape-index-event-photo" src=<%="/data/uploads/"+ event.picture %> alt="event picture">
                    <h3><%=event.name%></h3>
                    <p><%=event.date.toString().split(" ").slice(0,4).join(" ")%></p>
                </a>
           <% }) %>
        </div>
        <div class="tape-index-event-container">
 
            
            
        </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/tapeindex.js"></script> 
<%- include("partials/footer"); -%>