<%- include("partials/header"); -%>

<div class="user-page">
    
    <img src="/data/uploads/profilePictures/<%=profileUser.coverImage_url %>" class="profile-theme-container"/>
    <% if (user && user.username===profileUser.username){ %>
        <div id="upload-cover-img" >
            <label for="cover-img-upload">
                <img id="cover-img-btn" src="/image/upload-img.svg" alt="cover image upload button">
            </label>
            <input class="<%=profileUser.id%>" id="cover-img-upload" type="file" accept="image/">
            <input type="hidden" id="cropped-profile-image-cover" name="croppedProfileImage-cover" value="">
        </div>
    <!-- <img id="upload-cover-img" src="/image/upload-img.svg" alt="image icon"> -->
    <% } %>
    <div class="profile-content-container">
        <div class="profile-page-container <%=profileUser.profileTheme%>-theme-profile-page-container">
            <div class="profile-interaction-container" style="display: flex; justify-content: space-between;">
            <div class="profile-page-picture">
                
                <img class="profile-img" src="/data/uploads/profilePictures/<%=profileUser.profImage_url %>" alt="">
                <% if (user && user.username===profileUser.username){ %>
                <div class="image-upload">
                    <label for="file-input">
                        <img class="upload-img-button" src="/image/upload-img.svg" alt="">
                    </label>
                    <input class="<%=profileUser.id%>" id="file-input" type="file" accept="image/"/>
                </div>
                <% } %>
                    <h1 class="username-text <%=profileUser.profileTheme%>-theme-profile-title"><%=profileUser.username%></h1>
                    

                
            </div>

            <div class="user-prof-col">
                <button class="profile-btn default-theme-btn <%=profileUser.profileTheme%>-theme-btn">Follow</button>
                <button class="profile-btn default-theme-btn <%=profileUser.profileTheme%>-theme-btn">Message</button>
                <% if (user && user.username===profileUser.username){ %>
                    <button data-open-modal class="profile-btn default-theme-btn edit-prof-btn <%=profileUser.profileTheme%>-theme-btn">Edit Profile</button>

                    <dialog data-modal class="edit-prof-modal">
                        <div class="edit-profile-container"> 
                            <label for="color-picker">Profile theme:</label>
                            <div class="color-theme-picker-container">
                                <button id="default" class="secondary-btn-invert profile-btn-small">Default</button>
                                <button id="octagon-blue" class="profile-btn-small octagon-blue-theme-btn-inverted">Octagon Blue</button>
                                <button id="brasil-green" class="profile-btn-small brasil-green-theme-btn-inverted">Brasil Green</button>
                                <button id="blood-red" class="profile-btn-small blood-red-theme-btn-inverted">Blood Red</button>
                                <button id="do-bronx-yellow" class="profile-btn-small do-bronx-yellow-theme-btn-inverted">Do Bronx</button>
                                <button id="irish-green" class="profile-btn-small irish-green-theme-btn-inverted">Lucky Irish</button>
                                <button id="izzy-blue" class="profile-btn-small izzy-blue-theme-btn-inverted">Stylebender</button>
                            </div>
                            <label for="about-me">about</label>
                            <textarea class="about-me"cols="50" rows="10" placeholder="write something for your profile"></textarea>
                            <label for="fav-fighter">Favourite fighter:</label>
                            <input class="fav-fighter" type="text">
                            <label for="fav-fighter">Favourite mma org:</label>
                            <input class="fav-org" type="text">
                            <div class="mobile-upload">
                                <label for="file-input">
                                    Profile picture:
                                </label>
                                <input class="<%=profileUser.id%>" id="mobile-file-input" type="file" accept="image/"/>
                            </div>
                        </div>
                        <div class="edit-profile-row">
                            <button class="submit-profile-changes secondary-btn">Submit</button>
                            <button data-close-modal class="secondary-btn">Close</button>
                        </div>
                        
                    </dialog>
                    <dialog cover-modal id="cover-img-crop">
                        
      
                           <div>
                                <div class="result"></div>
                            </div>
                        
                            <div>
                                <img class="cropped hide" id="image" src="">
                            </div> 

                        
                        <button class="profile-btn submit-crop">Crop</button>
                        <button class="profile-btn crop-save hide">Submit</button>
                        <button cover-close-modal class="btn save profile-btn">Cancel</button>
                    </dialog>
                <% } %>
            </div>
            </div>

            <div class="profile-heading-section">
                <h2 class="title-text <%=profileUser.profileTheme%>-theme-profile-title">About:</h2>
                    <div class="profile-heading-container <%=profileUser.profileTheme%>-theme-profile-heading-container">
                        <p class="profile-about <%=profileUser.profileTheme%>-theme-text"><%=profileUser.aboutMe%></p>
                        
                        <div class="profile-favs">
                            <h3 class="<%=profileUser.profileTheme%>-theme-text">Favourite Fighter: <span class="fav-fighter-content <%=profileUser.profileTheme%>-theme-text"><%=profileUser.favFighter%></span></h3>
                            <h3 class="<%=profileUser.profileTheme%>-theme-text">Favourite Promotion: <span class="fav-org-content <%=profileUser.profileTheme%>-theme-text"><%=profileUser.favPromo%></span></h3>
                            <h3 class="<%=profileUser.profileTheme%>-theme-text">Member Since: Forever</h3>
                        </div>
                        
                    </div>
            </div>

            <h2 class="title-text profile-title <%=profileUser.profileTheme%>-theme-profile-title">Prediction rankings:</h2>
            

                
            <div class="profile-rankings-container">
                

                <div class="profile-rankings">

                    <div class="prediction-rankings-table-heading <%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading">
                        <button id="ALL" class="profile-rankings-btn"><div class="active-prediction-rankings-title prediction-rankings-title <%=profileUser.profileTheme%>-theme-text"">
                            <h2>ALL </h2>
                        </div></button>
                        <button id="UFC" class="profile-rankings-btn"><div class="prediction-rankings-title <%=profileUser.profileTheme%>-theme-text"">
                            <h2>UFC </h2>
                        </div></button>
                        <button id="PFL" class="profile-rankings-btn"><div class="prediction-rankings-title <%=profileUser.profileTheme%>-theme-text"">
                            <h2>PFL </h2>
                        </div></button>
                        <button id="Bellator" class="profile-rankings-btn"><div class="prediction-rankings-title <%=profileUser.profileTheme%>-theme-text"">
                            <h2>Bellator </h2>
                        </div></button>
                        <button id="Regional" class="profile-rankings-btn"><div class="prediction-rankings-title <%=profileUser.profileTheme%>-theme-text"">
                            <h2>Regional </h2>
                        </div></button>
                    </div>
                    <div class="prediction-rankings-subtext-heading <%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading">
                            <p id="prediction-rankings-rank" class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Rank: <%= rank%></p>
                            <p class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Record: <span id="prediction-rankings-wins"><%=profileUser.predictionWins%></span>-<span id="prediction-rankings-losses"><%=profileUser.predictionLosses%></span></p>
                            <p id="prediction-rankings-mmr" class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Points: <%=profileUser.mmr%></p>
                    </div>
                    <table class="prediction-table">

                        <tr class="headings">
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Prediction</th>
                            <th class="prediction-table-title-result <%=profileUser.profileTheme%>-theme-profile-table-heading">Result</th>
                            <th class="prediction-table-title-result <%=profileUser.profileTheme%>-theme-profile-table-heading">Points</th>
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Fight</th>
                            <th class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-table-heading">Event</th>
                        </tr>
                        <%predictions.forEach(function(prediction){ %>
                        <tr>
                                <td class="prediction-table-predict <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.predictionName %> to win</td>
                            <% if (prediction.outcome==="Correct") { %>
                                <td class="prediction-table-result correct <%=profileUser.profileTheme%>-theme-text">Correct</td>
                                <td class="prediction-table-result correct <%=profileUser.profileTheme%>-theme-text">+<%=prediction.mmrChange%></td>
                            <% } else if ((prediction.outcome==="Incorrect")){ %>
                                <td class="prediction-table-result incorrect <%=profileUser.profileTheme%>-theme-text">Incorrect</td>
                                <td class="prediction-table-result incorrect <%=profileUser.profileTheme%>-theme-text"><%=prediction.mmrChange%></td>
                            <% } else if ((prediction.outcome==="Push")){ %>
                                <td class="prediction-table-result push <%=profileUser.profileTheme%>-theme-text">Push</td>
                                <td class="prediction-table-result push <%=profileUser.profileTheme%>-theme-text">0</td>
                            <% } else{ %>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                            <% } %>
                            <td class="prediction-table-fight <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.fighterName %> vs. <%= prediction.opponentName %></td>
                            <td class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.eventName %></td>
                        </tr>    
                        <% })%>
                        <% if (!predictions.length){ %>
                            <tr>
                                <td class="prediction-table-predict <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">No predictions yet to show</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-fight <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">-</td>
                            </tr>   
                        <% } %>

                    </table>
                </div>
            </div>


        
        <div class="profile-comment-section">
            <h2 class="title-text <%=profileUser.profileTheme%>-theme-profile-title">Comments:</h2>
        </div>
    
    
    </div>
        

    </div>




</div>
<script>
    var profileUserID="<%= profileUser.id %>"
    var profileTheme="<%= profileUser.profileTheme %>"
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<% if(user){ %>
    <script>
        var username= "<%= user.username %>";
        var theme= "<%= user.profileTheme %>";
    </script>
    <%if(user.username===profileUser.username){ %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js" integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="/javascript/edit-profile.js"></script>    
        <%}%>
<% } %>
<script type="text/javascript" src="/javascript/prediction-table.js"></script>   
<%- include("partials/footer"); -%>