<%- include("partials/header"); -%>

<div class="user-page">
    
    <img src="/data/uploads/profilePictures/<%=profileUser.coverImage_url %>" class="profile-theme-container"/>
    <% if (user && user.username===profileUser.username){ %>
        <div id="upload-cover-img" >
            <label for="cover-img-upload">
                <img id="cover-img-btn" src="/image/upload-img.svg" alt="cover image upload button">
            </label>
            <input class="<%=profileUser.id%>" id="cover-img-upload" type="file" accept="image/">
            <input type="hidden" id="cropped-profile-image-cover" name="croppedProfileImage-cover" value="">
        </div>
    <!-- <img id="upload-cover-img" src="/image/upload-img.svg" alt="image icon"> -->
    <% } %>
    <div class="profile-content-container">
        <div class="profile-page-container <%=profileUser.profileTheme%>-theme-profile-page-container">
            <div class="profile-interaction-container" style="display: flex; justify-content: space-between;">
            <div class="profile-page-picture">
                
                <img class="profile-img" src="/data/uploads/profilePictures/<%=profileUser.profImage_url %>" alt="">
                <% if (user && user.username===profileUser.username){ %>
                <div class="image-upload">
                    <label for="file-input">
                        <img class="upload-img-button" src="/image/upload-img.svg" alt="">
                    </label>
                    <input class="<%=profileUser.id%>" id="file-input" type="file" accept="image/"/>
                </div>
                <% } %>
                    <h1 class="username-text <%=profileUser.profileTheme%>-theme-profile-title"><%=profileUser.username%></h1>
                    

                
            </div>

            <div class="user-prof-col">
                <button class="profile-btn default-theme-btn <%=profileUser.profileTheme%>-theme-btn">Follow</button>
                <button class="profile-btn default-theme-btn <%=profileUser.profileTheme%>-theme-btn">Message</button>
                <% if (user && user.username===profileUser.username){ %>
                    <button data-open-modal class="profile-btn default-theme-btn edit-prof-btn <%=profileUser.profileTheme%>-theme-btn">Edit Profile</button>

                    <dialog data-modal class="edit-prof-modal">
                        <div class="edit-profile-container"> 
                            <label for="color-picker">Profile theme:</label>
                            <div class="color-theme-picker-container">
                                <button id="default" class="secondary-btn-invert profile-btn-small">Default</button>
                                <button id="octagon-blue" class="profile-btn-small octagon-blue-theme-btn-inverted">Octagon Blue</button>
                                <button id="brasil-green" class="profile-btn-small brasil-green-theme-btn-inverted">Brasil Green</button>
                                <button id="blood-red" class="profile-btn-small blood-red-theme-btn-inverted">Blood Red</button>
                                <button id="do-bronx-yellow" class="profile-btn-small do-bronx-yellow-theme-btn-inverted">Do Bronx</button>
                                <button id="irish-green" class="profile-btn-small irish-green-theme-btn-inverted">Lucky Irish</button>
                                <button id="izzy-blue" class="profile-btn-small izzy-blue-theme-btn-inverted">Stylebender</button>
                            </div>
                            <label for="about-me">about</label>
                            <textarea class="about-me"cols="50" rows="10" placeholder="write something for your profile"></textarea>
                            <label for="fav-fighter">Favourite fighter:</label>
                            <input class="fav-fighter" type="text">
                            <label for="fav-fighter">Favourite mma org:</label>
                            <input class="fav-org" type="text">
                            <div class="mobile-upload">
                                <label for="file-input">
                                    Profile picture:
                                </label>
                                <input class="<%=profileUser.id%>" id="mobile-file-input" type="file" accept="image/"/>
                            </div>
                        </div>
                        <div class="edit-profile-row">
                            <button class="submit-profile-changes secondary-btn">Submit</button>
                            <button data-close-modal class="secondary-btn">Close</button>
                        </div>
                        
                    </dialog>
                    <dialog cover-modal id="cover-img-crop">
                        
      
                           <div>
                                <div class="result"></div>
                            </div>
                        
                            <div>
                                <img class="cropped hide" id="image" src="">
                            </div> 

                        
                        <button class="profile-btn submit-crop">Crop</button>
                        <button class="profile-btn crop-save hide">Submit</button>
                        <button cover-close-modal class="btn save profile-btn">Cancel</button>
                    </dialog>
                <% } %>
            </div>
            </div>

            <div class="profile-heading-section">
                <h2 class="title-text <%=profileUser.profileTheme%>-theme-profile-title">About:</h2>
                    <div class="profile-heading-container <%=profileUser.profileTheme%>-theme-profile-heading-container">
                        <p class="profile-about <%=profileUser.profileTheme%>-theme-text"><%=profileUser.aboutMe%></p>
                        
                        <div class="profile-favs">
                            <h3 class="<%=profileUser.profileTheme%>-theme-text">Favourite Fighter: <span class="fav-fighter-content <%=profileUser.profileTheme%>-theme-text"><%=profileUser.favFighter%></span></h3>
                            <h3 class="<%=profileUser.profileTheme%>-theme-text">Favourite Promotion: <span class="fav-org-content <%=profileUser.profileTheme%>-theme-text"><%=profileUser.favPromo%></span></h3>
                            <% if (profileUser.createdAt){ %>
                                <h3 class="<%=profileUser.profileTheme%>-theme-text">Member Since: <%= profileUser.createdAt.toString().split(" ").slice(0,4).join(" ") %></h3>
                            <% } else{ %>
                                <h3 class="<%=profileUser.profileTheme%>-theme-text">Member Since: Forever</h3>
                            <% } %>
                            
                        </div>
                        
                    </div>
            </div>

            <h2 class="title-text profile-title <%=profileUser.profileTheme%>-theme-profile-title">Tracked Bets:</h2>
            <div class="profile-tracked-bets-container">
                <div class="tracked-bets-stats-container <%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading">
                    <h4 class="tracked-bets-title">Record: <span class="tracked-bets-subtext"><%=profileUser.betWins%>-<%=profileUser.betLosses%></span></h4>
                    <h4 class="tracked-bets-title">Profit:<span class="tracked-bets-subtext"> <%=profileUser.totalProfit%>U</span></h4>
                    <h4 class="tracked-bets-title">ROI: <span class="tracked-bets-subtext"><%=Number(profileUser.totalProfit/profileUser.totalWager).toFixed(3)%>%</span></h4>
                </div>
                <canvas class="<%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading" id="tracked-bets-chart"></canvas>
                <div class="tracked-events-container">
                <% trackedBets.forEach(function(trackedEvent){ %>
                    <div class="tracked-event-row tracked-first-row">
                         <img class="user-tracked-bets-picture" src="/data/uploads/<%=trackedEvent.eventPicture%>" alt="">
                         <div class="tracked-event-col">
                            <div class="tracked-event-row tracked-event-title">
                                <h3><%=trackedEvent.eventName%> <span class="tracked-bet-date">- <%=trackedEvent.eventDate.toDateString().split(" ").slice(0,4).join(" ")%></span></h3>
                            </div>
                            
                            <div class="tracked-event-row event-profit-info">
                                <p>Profit: <%=trackedEvent.profit%>U</p>
                                <p>Bets: <%=trackedEvent.wager%>U<p>
                                <p>ROI: <%=Number(trackedEvent.profit/trackedEvent.wager).toFixed(3)%>%</p>
                            </div>
                            

                         </div>
                    </div>
                    <table class="tracked-event-table">
                        <tr class="tracked-event-headings">
                            <th class="tracked-first-heading <%=profileUser.profileTheme%>-theme-profile-table-heading">Bet</th>
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Odds</th>
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Wager (U)</th>
                            <th class=" <%=profileUser.profileTheme%>-theme-profile-table-heading">Profit (U)</th>
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading tracked-last-heading">ROI (%)</th>
                        </tr>
                        <% trackedEvent.bets.forEach(function(bet){ %>
                        <tr class="tracked-bet-tr">
                            <td class="tracked-bet-betinfo">
                                <% if(bet.win) {%>
                                        <div class="bet-info-contents bet-win">
                                            <p class="bet-outcome-text bet-win-text">win</p>
                                    <%} else if(bet.win===false) {%>
                                        <div class="bet-info-contents bet-loss">
                                            <p class="bet-outcome-text bet-loss-text">loss</p>
                                    <%} else{%>
                                        <div class="bet-info-contents">
                                    <%}%>
                            <% if(bet.bettingLines.length >1){%>
                                    <p class="tracked-bet-type parlay-bet">parlay</p>
                                    
                            <%} else{%>
                                <p class="tracked-bet-type <%= bet.bettingLines[0].type%>-bet"><%= bet.bettingLines[0].type%></p>
                            <%}%>
                            <% bet.bettingLines.forEach(function(line){ %>
                                
                                    <p class="tracked-bet-condition"><%= line.condition.split("_").join(" ").split("won").join("");%></p>
                                    <p class="bet-col tracked-bet-fightname">(<%= line.fightName%>)</p>
                            <% }) %>
                                </div>
                            </td>
                            <td>
                                <p><%=(bet.odds<0?"":"+")+bet.odds%></p>
                            </td>
                            <td>
                                <p><%=bet.wager%></p>
                            </td>
                            <td>
                                <%if (bet.profit===null){%>
                                    <p>-</p>
                                <% } else if (bet.profit>=0){ %>
                                    <p class="bet-win"><%=(bet.profit<0?"":"+")+bet.profit%></p>
                                </td>
                                <td>
                                    <p class="bet-win"><%=Number(bet.profit/bet.wager).toFixed(2)%></p>
                                </td>
                                <% } else if (bet.profit<0){ %>
                                    <p class="bet-loss"><%=bet.profit%></p>
                                </td>
                                <td>
                                    <p class="bet-loss"><%=Number(bet.profit/bet.wager).toFixed(2)%></p>
                                </td>
                                <%}%>
                        </tr>
                        <%})%>
                    </table>
                <% }) %>
                </div>

            </div>

            <h2 class="title-text profile-title <%=profileUser.profileTheme%>-theme-profile-title">Prediction rankings:</h2>
            

                
            <div class="profile-rankings-container">
                

                <div class="profile-rankings">

                    <div class="prediction-rankings-table-heading <%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading">
                        <button id="ALL" class="profile-rankings-btn"><div class="active-prediction-rankings-title prediction-rankings-title">
                            <h2 class="<%=profileUser.profileTheme%>-theme-text">ALL </h2>
                        </div></button>
                        <button id="UFC" class="profile-rankings-btn"><div class="prediction-rankings-title">
                            <h2 class="<%=profileUser.profileTheme%>-theme-text">UFC </h2>
                        </div></button>
                        <button id="PFL" class="profile-rankings-btn"><div class="prediction-rankings-title">
                            <h2 class="<%=profileUser.profileTheme%>-theme-text">PFL </h2>
                        </div></button>
                        <button id="Bellator" class="profile-rankings-btn"><div class="prediction-rankings-title">
                            <h2 class="<%=profileUser.profileTheme%>-theme-text">Bellator </h2>
                        </div></button>
                        <button id="Regional" class="profile-rankings-btn"><div class="prediction-rankings-title">
                            <h2 class="<%=profileUser.profileTheme%>-theme-text">Regional </h2>
                        </div></button>
                    </div>
                    <div class="prediction-rankings-subtext-heading <%=profileUser.profileTheme%>-theme-prediction-rankings-table-heading">
                            <p id="prediction-rankings-rank" class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Rank: <%= rank%></p>
                            <p class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Record: <span id="prediction-rankings-wins"><%=profileUser.predictionWins%></span>-<span id="prediction-rankings-losses"><%=profileUser.predictionLosses%></span></p>
                            <p id="prediction-rankings-mmr" class="prediction-rankings-subtext <%=profileUser.profileTheme%>-theme-text">Points: <%=profileUser.mmr%></p>
                    </div>
                    <table class="prediction-table">

                        <tr class="headings">
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Prediction</th>
                            <th class="prediction-table-title-result <%=profileUser.profileTheme%>-theme-profile-table-heading">Result</th>
                            <th class="prediction-table-title-result <%=profileUser.profileTheme%>-theme-profile-table-heading">Points</th>
                            <th class="<%=profileUser.profileTheme%>-theme-profile-table-heading">Fight</th>
                            <th class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-table-heading">Event</th>
                        </tr>
                        <%predictions.slice(0,10).forEach(function(prediction){ %>
                        <tr>
                                <td class="prediction-table-predict <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.predictionName %> to win</td>
                            <% if (prediction.outcome==="Correct") { %>
                                <td class="prediction-table-result correct <%=profileUser.profileTheme%>-theme-text">Correct</td>
                                <td class="prediction-table-result correct <%=profileUser.profileTheme%>-theme-text">+<%=prediction.mmrChange%></td>
                            <% } else if ((prediction.outcome==="Incorrect")){ %>
                                <td class="prediction-table-result incorrect <%=profileUser.profileTheme%>-theme-text">Incorrect</td>
                                <td class="prediction-table-result incorrect <%=profileUser.profileTheme%>-theme-text"><%=prediction.mmrChange%></td>
                            <% } else if ((prediction.outcome==="Push")){ %>
                                <td class="prediction-table-result push <%=profileUser.profileTheme%>-theme-text">Push</td>
                                <td class="prediction-table-result push <%=profileUser.profileTheme%>-theme-text">0</td>
                            <% } else{ %>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                            <% } %>
                            <td class="prediction-table-fight <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.fighterName %> vs. <%= prediction.opponentName %></td>
                            <td class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text"><%= prediction.eventName %></td>
                        </tr>    
                        <% })%>
                        <% if (!predictions.length){ %>
                            <tr>
                                <td class="prediction-table-predict <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">No predictions yet to show</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-result scheduled <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-fight <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">-</td>
                                <td class="prediction-table-event <%=profileUser.profileTheme%>-theme-profile-heading-container <%=profileUser.profileTheme%>-theme-text">-</td>
                            </tr>   
                        <% } %>

                    </table>
                    <div class="pagination-container">
                        <button class="profile-btn previous-button <%=profileUser.profileTheme%>-theme-btn">&lt; Previous page</button>
                        <div class="pagination-pages">Page: <span class="user-prediction-page-number">1</span>/<span class="user-prediction-total-pages"><%=(Math.ceil(predictions.length/10)||1)%></span></div>
                        <button class="profile-btn next-button <%=profileUser.profileTheme%>-theme-btn"> Next page&gt;</button>
                    </div>
                </div>
            </div>


        
        <div class="profile-comment-section">
            <div class="fight-comments-container user-comments-section">
                <h2 class="title-text <%=profileUser.profileTheme%>-theme-profile-title">Comments:</h2>
                <form action="/predict" method="post">
                    <div class="compose-comment fight-comment-box">
                        <% if(user){ %>
                        <textarea class="input input<%= profileUser.id %> form-control" name="comment" cols="30" rows="5" placeholder="Leave a comment"></textarea>
                        <button  class="comment-btn <%= profileUser.id %> profile-btn <%=profileUser.profileTheme%>-theme-btn" type="submit">comment</button>
                        <% } else{ %>
                            <textarea disabled class="input input<%= profileUser.id %> form-control" name="comment" cols="30" rows="5" placeholder="Sign in to leave a comment"></textarea>
                        <% } %>
                    </div>
                    </form>
                <% profileUser.comments.reverse().forEach(function(comment,i){ %>
                    
                    <% if(user){ %>
                        <div class="comment-row">
                            <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                        <div class="comment-col fight-comment">
                            <div class="comment-col">
                                <div class="comment-row">      
                                    <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                                    <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                                </div>
                                <p class="comment-content fight-comment-content <%=profileUser.profileTheme%>-theme-text"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %><a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">... Read more</a> <a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                            </div>
                            <div class="comment-row">
                                <% if (comment.usersLiked===undefined || !comment.usersLiked.includes(user.username) ){ %>
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                                <% } else{ %>
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>" class="like-btn" src="/image/thumbs-up-blue.svg" height="20px" alt="">
                                <% } %>
                                <p class="comment-likes">  <%= comment.likes %> </p>
                                <% if (comment.usersDisliked===undefined || !comment.usersDisliked.includes(user.username)){ %>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                                <% } else{ %>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-blue.svg" height="20px" alt="">
                                <% } %>
                                <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                            </div>
                        </div>
                    </div>
                    <% } else{ %>
                        <div class="comment-row">
                        <img class="prof-image-comment" src="/data/uploads/profilePictures/<%=comment.picture %>" alt="user profile image">
                        <div class="comment-col fight-comment">
                            
                            <div class="comment-col">
                                <div class="comment-row">      
                                    <a href="/user/<%= comment.username %>"><p class="comment-username"><%= comment.username %></p></a>
                                    <p class="fight-time-since"><%= Time(Date.now(),Number(comment.timePosted))%></p>
                                </div>
                                <p class="comment-content fight-comment-content <%=profileUser.profileTheme%>-theme-text"><%= comment.content.substring(0, 300) %><span id="comment-<%=i%>" class="hidden-content"><%= comment.content.substring(300, comment.content.length) %></span><% if (comment.content.length > 300) { %><a id="read-btn-<%=i%>" class="expand-comment-btn read-more-btn">... Read more</a> <a id="less-btn-<%=i%>" class="expand-comment-btn show-less-btn hidden-content">Show less</a><% } %></p>
                            </div>
                            <div class="comment-row">
                                <img id="like-comment-<%=comment.username%>-<%=comment.timePosted%>"  class="like-btn" src="/image/thumbs-up-grey.svg" height="20px" alt="">
                                <p class="comment-likes">  <%= comment.likes %> </p>
                                <img id="dislike-comment-<%=comment.username%>-<%=comment.timePosted%>" class="dislike-btn" src="/image/thumbs-down-grey.svg" height="20px" alt="">
                                <p class="comment-dislikes">   <%= comment.dislikes %> </p>
                            </div>
                        </div>
                    </div>    
                    <% } %>
                    
    
                <% }) %>
            </div>
        </div>
    
    
    </div>
        

    </div>




</div>
<script>
     var userChartData = <%- JSON.stringify(userChartData) %>;
</script>
<script>
    var profileUserID="<%= profileUser.id %>"
    var profileTheme="<%= profileUser.profileTheme %>"
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/commentExpand.js"></script>
<script type="text/javascript" src="/javascript/userComment.js"></script>
<% if(user){ %>
    <script>
        var username= "<%= user.username %>";
        var theme= "<%= user.profileTheme %>";
    </script>
    <%if(user.username===profileUser.username){ %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.js" integrity="sha512-LjPH94gotDTvKhoxqvR5xR2Nur8vO5RKelQmG52jlZo7SwI5WLYwDInPn1n8H9tR0zYqTqfNxWszUEy93cHHwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="/javascript/edit-profile.js"></script>    
        <%}%>
<% } %>
<script type="text/javascript" src="/javascript/tracking-chart.js"></script>
<script type="text/javascript" src="/javascript/prediction-table.js" predictions="<%= JSON.stringify(predictions) %>">let predictions = JSON.parse(document.currentScript.getAttribute('predictions'));
</script>
<%- include("partials/footer"); -%>